{% extends 'base.html.twig' %}

{% block body %}
    <h1>Réinitialisation du mot de passe</h1>

    <div class="my-form-container">

        {{ form_start(requestForm) }}

        <div style="text-align: center; margin-bottom: 30px">
            {{ form_label(requestForm.email) }}
        </div>
        {{ form_widget(requestForm.email) }}
        {{ form_errors(requestForm.email) }}

        <button type="submit">Recevoir un email de réinitialisation</button>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}