{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <h1>{{ h1 }}</h1>

    <div class="videos-categories">
        <p><b>Filtrer par catégorie : </b></p>
        <p>
            <a style="margin: 5px" href="{{ path('app_videos', { category: 'Humour'}) }}">Humour</a>
            <a style="margin: 5px" href="{{ path('app_videos', { category: 'Divers'}) }}">Divers</a>
        </p>
    </div>


    {% include 'partials/_pagination.html.twig' with {
        hrefPrevious: hrefPrevious,
        hrefNext: hrefNext } %}


    <div class="container-videos">

        {% for video in videos %}
            <div class="container-card-player">

                {% include 'partials/_like.html.twig' %}

                <p><b>Catégorie :</b> {{ video.category }}</p>
                <p><b>Titre :</b> {{ video.title }}</p>
                <p><b>Description :</b> {{ video.description }}</p>
                <p><a target="_blank" href="{{ video.url }}">Lien source</a></p>

                <a href="{{ path('app_video_show', { id: video.id }) }}"><img src="{{ video.url|youtube_thumbnail }}" alt="oops"></a>

            </div>
        {% endfor %}

    </div>
{% endblock %}
