{% extends 'base.html.twig' %}

{% block body %}

    <h1>Video {{ video.title }}</h1>

    <div class="container-card-player-full">

        <div {{ react_component('components/Like', {
            username: app.user ? app.user.username : null
            videoId: video.id
        }) }}></div>

        <p><b>Catégorie :</b> {{ video.category }}</p>
        <p><b>Description :</b> {{ video.description }}</p>


        <p><a target="_blank" href="{{ video.url }}">Lien source</a></p>
        {{ video.url|youtube_player|raw }}

    </div>
</div>
{% endblock %}
