<!DOCTYPE html>
<html id="html-theme" class="{{ themeSombre ? "dark-theme" : "" }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

        <div {{ react_component('components/Header', {
            user: app.user.username ?? null
        }) }}></div>
        <hr>

        {% block body %}{% endblock %}

        {% set admin = false %}
        {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
            {% set admin = true %}
        {% endif %}

        <div {{ react_component('components/Footer', {
            user: app.user ? app.user.username : null,
            themeSombre: themeSombre ?? false,
            admin: admin
        }) }}></div>


        {% set messages = [] %}
        {% for type, message in app.flashes %}
            {% set messages = messages|merge(message) %}
        {% endfor %}
        {% if messages is not empty %}
            <div {{ react_component('components/Toast', {
                content: messages,
                duration: 5
            }) }}></div>
        {% endif %}

    </body>
</html>
